/*  your css code here. If applicable */
#id1{
	background-color:yellow;
	border-width:1px;
	border-color:green;
}
#id2{
	background-color:red;
	border-width:1px;
	border-color:black;
}
#id3{
	background-color:green;
	border-width:1px;
	border-color:yellow;
}
